*{
    margin: 0;
    padding: 0;
}

.header{
    height: 60px;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 15px;
}

.input-container{
    width: 95%;
    margin: 10px auto;
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
    padding: 15px;
    border-radius: 5px;
}

input::marker{
    border: 5px solid lightblue;
}

.button{
    border: none;
    background-color: green;
    color: white;
    width: 15%;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover{
    border: 2px solid green;
    background-color: white;
    color: green;
}


#todo-list{
    width: 95%;
    margin: 10px auto;
    list-style: none;
}
.list-item{
    background: #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    
}

span{
    flex: 1;
}

button{
    background-color: blue;
    border: none;
    color: white;
    height: 40px;
    width: 60px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
}

.complete{
    text-decoration: line-through;
}

/* Style for the Logout Button */
#logout {
    position: fixed;
    bottom: 50px;
    left: 40%;
    width: 120px;
    background-color: #ff4d4d; /* Red background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for spacing */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color "0.3s ease"; /* Smooth background transition */
}

#logout:hover {
    background-color: #e60000; /* Darker red on hover */
}

#logout:focus {
    outline: none; /* Remove default focus outline */
}

#logout:active {
    transform: scale(0.98); /* Slight shrink effect when button is pressed */
}